/* home */
.home-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  /* border: 1px solid red; */
}
.home-container{
  /* width: 70%; */
  min-width: 500px;
  height: 100%;
  
  /* min-height: 100vh; */
  /* border: 1px solid red; */
}
.home-container h2{
  margin: 20px;
}
.account-card{
  border-radius: 20px;
  border: solid 1px  #35A18B;
  background-color: #22403A;
  width: 300px;
  height: 120px;
  margin: 20px;
}
.account-card h3{
  margin: 20px;
}
.account-card h2{
  margin: 20px;
}
.nav-buttons-container{
  display: flex;
  direction: row;
  margin: 20px;
}
.btn-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  width: 85px;
  
  /* border: solid red 1px; */
}
.btn-container p{
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.nav-button{
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background-color: #35A18B;
}
.nav-button:hover{
  background-color: #22403A;
}

/* header */
.header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
.header-element{
  margin: 10px 20px
}
.logo{
  cursor: pointer;
}
/* footer */
.footer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.footer-element{
  margin: 10px 20px
}
/* login */
.login-container{
  width: 400px;
  /* height: 30vw; */
  /* min-height: 100%; */
  /* border: 1px black solid; */
  border-radius: 20px;
  text-align: center;
  border: 1px solid  gray;
  border-radius: 10px;
  margin: 20px;
  background-color: #1B1B1B;
  
}
.login-container h2{
  border-bottom: gray 1px solid;
  padding: 10px 0 30px 0;
  margin: 0;
} 
.login-form{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a{
  color: #35A18B;
}

.login-input{
  border: none;
  background-color: #1B1B1B;
  color:whitesmoke;
  border-bottom: 1px solid gray;
  height: 30px;
  margin: 10px;
  outline: none;
  width: 100%;
}
.login-button{
  width: 100%;
  height: 40px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: #35A18B;
}
.login-button:hover{
    /* background-color: gray;
    color: white; */
}
.login-button:active{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* operations */
.operation-container{
  border: 1px solid  gray;
  border-radius: 10px;
  margin: 20px;
  background-color: #1B1B1B;
}
.operation-form{
  display: flex;
  flex-direction: column;
  min-height: 100px;
}
.operation-container h3{
  margin: 10px;
}
.operation-form input{
  border: none;
  background-color: #1B1B1B;
  color:whitesmoke;
  border-bottom: 1px solid gray;
  height: 30px;
  margin: 10px;
  outline: none;
}
.operation-form input::placeholder{
  color: whitesmoke;
}

.operation-form button{
  /* border: none;
  border-bottom: 1px solid gray; */
  height: 30px;
  margin: 10px;
  border: none;
  background-color: #35A18B;
  cursor: pointer;
}
.operation-form button:hover{

  background-color: #22403A;
}
